<!-- Portfolio -->
  <div id="portfolio">
    <div class="container">

      <section>
        <header>
          <h2>About the Author</h2>
        </header>
      </section>

      <!-- Author 1 -->
        <div class="row">

          <section class="5u 12u(mobile)">
            <div class="pbox1">
              <div class="author">
                <h3>Jose DeLavalle</h3>
                <span>Web Engineer</span>
              </div>
              <div class="network">
                <ul class="social">
                  <li><a href="#" class="icon fa-facebook"><span></span></a></li>
                  <li><a href="#" class="icon fa-twitter"><span>Twitter</span></a></li>
                  <li><a href="#" class="icon fa-linkedin"><span>LinkedIn</span></a></li>
                </ul>
              </div>
            </div>
          </section>

          <section class="2u 12u(mobile)">
            <div class="pbox2">
              <a href="#" class="image"><img src="images/me.png" alt="" /></a>
            </div>
          </section>

          <section class="5u 12u(mobile)">
            <div class="pbox3"><p>I am a web engineer with a passion for user interfaces and experiences.  I enjoy tinkering with new technologies, in the name of learning and creating.</p></div>
          </section>

        </div>

      <div class="border-style"><span class="border">&nbsp;</span></div>


    </div>
  </div>

<!-- Copyright -->
  <div id="copyright">
    <div class="container">
      Copyright &copy; Internet of Earth. All rights reserved.
    </div>
  </div>
