
<div id="header">

  <md-datepicker md-max-date="maxDate" ng-model="myDate" orientation="landscape" ng-change="dateChanged()"></md-datepicker>
  <div class="container">

    <!-- Logo -->
      <h1 id="logo">
        <a class="fa fa-angle-left" ng-click="goBack()"></a>
        <a href="/">{{title}}</a>
        <a class="fa fa-angle-right" ng-click="goForward()" ng-if="notToday"></a></h1>

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li>

            </li>
            <li><a href="#" ng-click="goBack()"></a></li>
            <li class="break"><a href="#" ng-click="goForward()"></a></li>
          </ul>
        </nav>





        <header>
          <h2>NASA Pic of the Day</h2>
        </header>




  </div>
</div>
