

<!-- Banner -->
  <div id="banner" style="background: url({{data.url}}) no-repeat;">
    <div class="container">
      <section>

        <span class="image-border"><a href="#" class="image"><img src="images/logo.png" alt="" /></a></span>
        <p slide-toggle="#picDetails" id="navToggle" class="icon fa-chevron-up rotate down" ng-click="rotateIcon()" ng-class="rotate ? 'down' : ''"</p>
        <header>

          <h2>{{data.title}}</h2>
          <h3>{{data.date}}</h3>
          <span id="picDetails" class="byline slideable" showonload="true">
            <h3>{{data.copyright}}</h3>
            <p>{{data.explanation}}</p>
          </span>
        </header>
        <a href="https://api.nasa.gov/index.html" class="button">powered by api.nasa.gov</a>
      </section>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="row">
        <div class="3u"></div>
        <div class="6u center">
          <a class="icon fa-map-marker fa-4x" ng-click="getUserLocation()"></a><br />

          <md-input-container class="md-block" flex-gt-sm>
            <label>Enter Location</label>
            <input ng-model="searchLoc" my-enter="goGetCoordinates(searchLoc)">
          </md-input-container>

          <a class="button" ng-click="goGetCoordinates(searchLoc)">Get Satelite Imagery</a>
          <hr />
          <div id="my-spinner2" class="hidden">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <p ng-if="coordinates.lat">Latitude: {{coordinates.lat}} - Longitude: {{coordinates.lng}}</p>
          <p>{{imagery.date}}</p>
          <div class="image">
            <img ng-src="{{imagery.url}}" />
          </div>


          <p ng-if="imagery.cloud_score">{{'Cloud Score: ' + imagery.cloud_score}}</p>

        </div>
        <div class="3u"></div>
      </div>
    </div>
  </div>


  <!-- <div ng-include="'partials/marsSection.html'"></div> -->
<!-- Featured -->
  <div id="featured">
    <div class="container">
      <div class="row">
        <div class="6u 12u(mobile)">


          <header>
            <h2>MARS Rover</h2>
            <hr />
          </header>
          <div id="myCarousel" class="carousel slide carousel-fade">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="data in mars" ng-class="{active : $first}"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">


            <div class="item" ng-repeat="data in mars" ng-class="{active : $first}">
              <img ng-src="{{data.img_src}}">
              <div class="carousel-caption">
                <h3>{{data.camera.full_name}}</h3>
                <p>{{data.earth_date}}</p>
              </div>
            </div>


          </div>

          <!-- Left and right controls -->
          <!-- <a class="left carousel-control" href="#" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>




        </div>




        <div class="6u 12u(mobile)">
          <header>
            <h2>E.P.I.C. Images</h2>
            <hr />
          </header>
          <div id="myCarousel2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="{{$index}}" ng-repeat="data in epic" ng-class="{active : $first}"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img ng-src="http://epic.gsfc.nasa.gov/epic-archive/natural/jpg/{{epic[0].image}}.jpg" alt="">
                <div class="carousel-caption">
                  <h3>Earth Polychromatic Imaging Camera</h3>
                  <p>{{epic[0].date}}</p>
                </div>
              </div>
              <div class="item" ng-repeat="data in epic" ng-if="$index > 0">
                <img ng-src="http://epic.gsfc.nasa.gov/epic-archive/natural/jpg/{{data.image}}.jpg" alt="">
                <div class="carousel-caption">
                  <h3>Earth Polychromatic Imaging Camera</h3>
                  <p>{{data.date}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <!-- <div ng-include="'partials/main.html'"></div> -->

  <div ng-include="'partials/footer.html'"></div>
