

<!-- Banner -->
  <div ng-if="data.media_type != 'video'" id="banner" style="background: url({{data.url}}) no-repeat;">
    <div class="container">
      <section>

        <span class="image-border"><a href="#" class="image"><img src="images/logo.png" alt="" /></a></span>
        <p slide-toggle="#picDetails" id="navToggle" class="icon fa-chevron-up rotate down" ng-click="rotateIcon()" ng-class="rotate ? 'down' : ''"</p>
        <header>

          <h2>{{data.title}}</h2>
          <h3>{{data.date}}</h3>
          <span id="picDetails" class="byline slideable" showonload="true">
            <h3>{{data.copyright}}</h3>
            <p>{{data.explanation}}</p>
          </span>
        </header>
        <a href="https://api.nasa.gov/index.html" class="button nasa-api">powered by api.nasa.gov</a>
      </section>
    </div>
  </div>
  <div ng-if="data.media_type == 'video'">
      
        <iframe class="videoiframe" src="https://www.youtube.com/embed/x_UaOhvLUYA?autoplay=1" frameborder="0" allowfullscreen
        ></iframe>
      
  </div>
  <!-- Featured -->
  <div id="featured">
    <div class="container">
      <div class="row">
        <div class="12u">


          <header>
            <h2>MARS Rover</h2>
            <md-input-container>
        
              <md-select class="rover-select" ng-model="whichRover" ng-change="goGetMars(whichRover)" aria-label="Pick a Rover, Any Rover">
                <md-option selected value="Curiosity">Curiosity</md-option>
                <md-option value="Opportunity">Opportunity</md-option>
              </md-select>
            </md-input-container>
          

            <hr />
          </header>
          <div ng-if="mars.length > 0" id="mars" class="carousel slide">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#mars" data-slide-to="{{$index}}" ng-repeat="data in mars" ng-class="{active : $first}"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">


            <div class="item" ng-repeat="data in mars track by $index" ng-class="{active : $first}">
        
              <img class="margin-0 full-width mars-image" ng-src="{{data.img_src}}">
              <div class="carousel-caption">
                <h3>{{data.camera.full_name}}</h3>
                <p>{{data.earth_date}}</p>
              </div>
          
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#mars" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#mars" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>

        <div ng-if="mars.length==0 && !showSpinner">
            <!-- <h3 ng-click="goBack(2)" style="color: black">It takes time to beam images from Mars.  Try going back a couple days.</h3> -->
            <h3 class="no-images">No {{whichRover}} Rover Images Available for {{myDate | date}}</h3>
        </div>

        </div>




        <!-- <div class="6u 12u(mobile)">
          <header>
            <h2>E.P.I.C. Images</h2>
            <hr />
          </header>
          <div id="myCarousel2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="{{$index}}" ng-repeat="data in epic" ng-class="{active : $first}"></li>
            </ol>
            
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img ng-src="http://epic.gsfc.nasa.gov/epic-archive/natural/jpg/{{epic[0].image}}.jpg" alt="">
                <div class="carousel-caption">
                  <h3>Earth Polychromatic Imaging Camera</h3>
                  <p>{{epic[0].date}}</p>
                </div>
              </div>
              <div class="item" ng-repeat="data in epic" ng-if="$index > 0">
                <img ng-src="http://epic.gsfc.nasa.gov/epic-archive/natural/jpg/{{data.image}}.jpg" alt="">
                <div class="carousel-caption">
                  <h3>Earth Polychromatic Imaging Camera</h3>
                  <p>{{data.date}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
 -->

  
      </div>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="row">
        
        <div class="12u center">
          <a class="icon fa-map-marker fa-4x"></a><br />

          <md-input-container id="search-loc" class="md-block" flex-gt-sm>
            <label>Enter Location</label>
            <input ng-model="searchLoc" my-enter="goGetCoordinates(searchLoc)">
          </md-input-container>

          <a class="button" ng-click="goGetCoordinates(searchLoc)">Get Satelite Imagery</a>
          <hr />
          <div id="my-spinner2" class="hidden">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>

          <p ng-if="coordinates.lat">Latitude: {{coordinates.lat}} - Longitude: {{coordinates.lng}}</p>
          <p>{{imagery.date}}</p>
          


          <p ng-if="imagery.cloud_score">{{'Cloud Score: ' + imagery.cloud_score}}</p>

        </div>
        
      </div>
    </div>
    <div class="image" ng-if="imagery">
            <img height="400" ng-src="{{imagery.url}}" />
          </div>
  </div>


  <!-- <div ng-include="'partials/marsSection.html'"></div> -->


  <div class="container" style="margin-top: 70px;">
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/237670566&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <hr>
  </div>

  <script>
    $('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  }
  else {
    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});

  </script>
  <!-- <div ng-include="'partials/main.html'"></div> -->

  <div ng-include="'partials/footer.html'"></div>
